{% extends "./home.html" %}
{% load static %}
{% block Title %}
    Home
{% endblock Title %}

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

{% block Content %}
    <div style="text-align:center;font-family:Helvetica Neue;">
        <h1 class="heading" style="background:radial-gradient(circle at 10% 20%, rgb(255, 12, 253) 0%, rgb(255, 241, 0) 80%); -webkit-background-clip: text; color: transparent;font-family:Helvetica Neue;">AI Student Emotion Detector</h1>
    </div>
    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-lg-5" style="text-align:justify;font-family:Helvetica Neue;font-size:20px; ">
                <p>Hello there! Have you ever wondered how computers can understand our feelings, just by reading what we write? It's like magic, but it's actually a cool thing called "<b>Emotion Recognition using Text</b>"!</p>
                <p>Imagine you're texting your friend about your day. You might say, "I had so much fun at the park!" or "I felt a bit sad because it rained during our picnic." Well, computers can read these messages and figure out if you're happy, sad, or maybe even excited!</p>   
            </div>
            <div class="col-lg-1"> </div>
            <div class="col-lg-6">
                <img src="{% static 'images/img_emotion1.png' %}" style="width:450px" alt="" srcset="">
            </div>
        </div>
    </div>
{% endblock Content %}


