{% extends "./home.html" %}
{% load static %}
{% block Title %}
    Data-Visualization
{% endblock Title %}

{% block addCSS %}
{% endblock addCSS %}

{% block Content %}
    <div style="text-align:center;font-family:Helvetica Neue;margin-top:10px;">
        <h1 class="heading" style="background:radial-gradient(circle at 10% 20%, rgb(255, 12, 253) 0%, rgb(255, 241, 0) 80%); -webkit-background-clip: text; color: transparent;font-family:Helvetica Neue;">Data visualization</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <canvas id="myChart1" aria-Label="chart" role="img" width="400" height="300" ></canvas>
            </div>
            <div class="col-lg-6">
                <canvas id="myChart2" aria-Label="chart" role="img" width="400" height="300" ></canvas>
            </div>
        </div>
    </div>
{% endblock Content %}

{% block addJS %}
    <script src="{% static "js/chart.js" %}"> </script>
    <script>
        let c1 = document.getElementById('myChart1');
        var ctx1= c1.getContext('2d');

        let c2 = document.getElementById('myChart2');
        var ctx2= c2.getContext('2d');

        var myChart = new Chart(ctx1,{
            type:"bar",
            data:{
            labels:["joy","sadness","anger","fear","love","surprise"],
            datasets:[
                        {
                        data:{{size|safe}},
                        label:"Emotions",
                        backgroundColor: [
                            'lime',
                            'blue',
                            'red',
                            'green',
                            '#ff77ff',
                            'gold'
                        ],
                        borderColor:["black"],
                        borderWidth:1,
                    },
                ],
            },
            options:{
                responsive:false,
                layout:{
                    padding:{
                    left:20,
                    right:0,
                    top:30,
                    bottom:0,
                    }
                },
            },
        });


    var myChart = new Chart(ctx2,{
        type:"pie",
        data:{
            labels:["joy","sadness","anger","fear","love","surprise"],
            datasets:[
                {
                    data:{{size|safe}},
                    label:"Emotions",
                    backgroundColor: [
                        'lime',
                        'blue',
                        'red',
                        'green',
                        '#ff77ff',
                        'gold'
                    ],
                    borderColor:["black"],
                    borderWidth:1,
                },
            ],
        },
        options:{
            responsive:false,
            layout:{
                padding:{
                    left:20,
                    right:0,
                    top:30,
                    bottom:0,
                }
            },
            tooltips:{
                enabled:true,
                backgroundColor:'red',
            },
            title:{
                display:true,
                text:"mjvtf",
            }
        },
    });
    </script>
{% endblock addJS %}
